<form>
<!--  <label for="new-hero">Student name: </label>-->
  <label>Student name: </label><input id="new-hero-name" #userName /><br>
  <label>English: </label><input id="new-hero-en" value="0" #en /><br>
  <label>Thinking skills: </label><input id="new-hero-ts" value="0" #ts /><br>
  <label>Maths: </label><input id="new-hero-math" value="0" #math /><br>
  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(userName.value,
          en.value,
          ts.value,
          math.value);">Add user</button>
</form>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete user"
      (click)="delete(hero)">x</button>
  </li>
</ul>
